.bank {
	height: 100vh;
	background: rgb(215, 0, 53, 0.3);
	margin: 0;
}
.outer-circle {
	width: 400px;
	height: 400px;
	border: 1px solid white;
	border-radius: 50%;
	transform: translate(450px, 100px);
	/* position: absolute; */
}
.inner-circle {
	width: 70%;
	height: 70%;
	border-radius: 50%;
	position: relative;
	left: 15%;
	background: #ffffff;
	border: 1px solid rgb(0, 0, 0, 0.3);
	display: grid;
	place-items: center;
	overflow: hidden;
	text-align: left;
}
.icons {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 10px;
	background-color: #fff;
	position: relative;
}
.icon1 {
	left: 45%;
	top: -20px;
}
.icon2 {
	top: 20%;
	right: 13%;
}
.icon3 {
	top: 20%;
	left: 63%;
}
.icon4 {
	top: 70%;
	right: 35%;
}
.icon5 {
	top: 70%;
	left: 37%;
}
.icon6 {
	left: -17%;
	top: 93%;
}

/* Cirular Carousel */

.container {
	background-color: #7db9b6;
	padding: 15% 15%;
}

.container .large-circle {
	position: relative;
	width: 80%;
	max-width: 400px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: #e96479;
}

.container .small-circle {
	position: absolute;
	width: 10%;
	height: 10%;
	border-radius: 50%;
	background-color: #4d455d;
}

.large-circle .small-circle1 {
	top: 15%;
	left: 11.5%;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle2 {
	top: 15%;
	left: 78.5%;
	/* right: 400px; */
	background-color: #4d455d;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle3 {
	top: 78.5%;
	left: 75%;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle4 {
	top: 75%;
	left: 11.5%;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle5 {
	top: 0;
	left: 45%;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle6 {
	top: 90%;
	left: 45%;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle7 {
	top: 45%;
	left: 0;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle8 {
	top: 45%;
	left: 90%;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle:hover {
	animation: orbit 2s linear infinite;
}

@keyframes orbit {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
