.bank {
	height: 100vh;
	background: rgb(215, 0, 53, 0.3);
	margin: 0;
}
.outer-circle {
	width: 400px !important;
	height: 400px !important;
	border: 1px solid white;
	border-radius: 50%;
	position: relative;
	left: 5%;
	top: 10%;
	/* position: absolute; */
}
.inner-circle {
	width: 70%;
	height: 70%;
	border-radius: 50%;
	position: relative;
	left: 15%;
	background: #ffffff;
	border: 1px solid rgb(0, 0, 0, 0.3);
	display: grid;
	place-items: center;
	overflow: hidden;
	text-align: left;
}
.icons {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 10px;
	background-color: #fff;
	position: relative;
}
.icon1 {
	left: 45%;
	top: -20px;
}
.icon2 {
	top: 20%;
	right: 13%;
}
.icon3 {
	top: 20%;
	left: 63%;
}
.icon4 {
	top: 70%;
	right: 35%;
}
.icon5 {
	top: 70%;
	left: 37%;
}
.icon6 {
	left: -17%;
	top: 93%;
}

/* Cirular Carousel */

.container {
	background-color: #7db9b6;
	padding: 15% 15%;
}

.container .large-circle {
	position: relative;
	width: 80%;
	max-width: 400px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: #e96479;
}

.container .small-circle {
	position: absolute;
	width: 10%;
	height: 10%;
	border-radius: 50%;
	background-color: #4d455d;
}

.large-circle .small-circle1 {
	top: 15%;
	left: 11.5%;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle2 {
	top: 15%;
	left: 78.5%;
	/* right: 400px; */
	background-color: #4d455d;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle3 {
	top: 78.5%;
	left: 75%;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle4 {
	top: 75%;
	left: 11.5%;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle5 {
	top: 0;
	left: 45%;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle6 {
	top: 90%;
	left: 45%;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle7 {
	top: 45%;
	left: 0;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle .small-circle8 {
	top: 45%;
	left: 90%;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.large-circle:hover {
	animation: orbit 2s linear infinite;
}

@keyframes orbit {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Donation info */

.donationInfo {
	position: relative;
	overflow-y: hidden;
	background: #f7f7f7;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 2rem;
	filter: invert(1);
}

.donationInfo #content {
	position: relative;
	margin: 50px auto;
	width: 600px;
	height: 600px;
}

.donationInfo h3 {
	position: absolute;
	top: 25px;
	left: 0px;
}

.donationInfo #blood_selector {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-gap: 5px;
	width: 200px;
	height: 100px;
	position: absolute;
	left: 10px;
	top: 65px;
	z-index: 2;
}
.donationInfo #blood_selector div {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f7f7f7;
	border: 1px solid #4ae1dc;
	border-radius: 25%;
}
.donationInfo #blood_selector div:hover {
	border: 1px solid #1da1f2;
	font-weight: bold;
	cursor: pointer;
}

.donationInfo #blood_content {
	position: absolute;
	top: 50px;
	width: 100%;
	height: 100%;
}

.donationInfo #center_via_c {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.donationInfo #center_via_c .center_via {
	width: 8px;
	background: #ccc;
	height: 200px;
	position: absolute;
	left: 304px;
	top: 276px;
}
.donationInfo #center_via_c .blood_via {
	height: 0;
	background-color: #4ae1dc;
	right: 50%;
	width: 8px;
	transition: height 0.25s;
}

.donationInfo .bar {
	position: absolute;
	right: -150%;
	top: -6.7%;
	width: 250%;
	height: 8px;
	border-radius: 2px 0 0 2px;
	background-color: #ccc;
}

.donationInfo .main_bag {
	position: absolute;
	width: 100px;
	height: 140px;
	top: 86px;
	left: 260px;
	border-radius: 30px;
	opacity: 0.8;
	background-color: rgba(101, 48, 21, 0.9);
	border: 8px solid rgba(101, 48, 21, 0.9);
}

.donationInfo .main_bag .blood {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #4ae1dc;
	border-radius: 0 0 35px 35px;
	transition: height 1s;
}
.donationInfo .main_bag .blood::before {
	content: "";
	position: absolute;
	top: -6px;
	width: 100%;
	height: 10px;
	background-color: #6de6e4;
	border-radius: 100%;
}
.donationInfo .main_bag::before {
	content: "";
	position: absolute;
	top: -128px;
	left: 45%;
	width: 10%;
	height: 120px;
	background-color: #ccc;
}

.donationInfo #humans {
	position: absolute;
	top: 276px;
	width: 400px;
	height: 200px;
	left: 108px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, 1fr);
}
.donationInfo #humans .human {
	position: relative;
}
.donationInfo #humans .human .via {
	position: absolute;
	text-align: right;
	width: 100%;
	height: 8px;
	background-color: #ccc;
	bottom: 0;
}
.donationInfo #humans .human .blood_via {
	position: absolute;
	height: 8px;
	background-color: #4ae1dc;
	width: 0;
	bottom: 0;
	transition: width 1s;
}
.donationInfo #humans .human.left {
	display: grid;
	justify-content: left;
	align-content: center;
}
.donationInfo #humans .human.left .blood_via {
	right: 0;
}
.donationInfo #humans .human.left .scribble {
	left: -30px;
}
.donationInfo #humans .human.left .scribble span {
	left: -40px;
	text-align: right;
}
.donationInfo #humans .human.right {
	display: grid;
	justify-content: right;
	align-content: center;
}
.donationInfo #humans .human.right .scribble {
	right: -60px;
}
.donationInfo #humans .human.right .scribble span {
	right: -10px;
}
.donationInfo #humans .human .scribble {
	position: absolute;
	height: 50px;
	width: 50px;
	top: 0;
	transition: background 1s;
}
.donationInfo #humans .human .scribble span {
	position: absolute;
	display: grid;
	align-items: end;
	height: 100%;
}
.donationInfo #humans .human .scribble .head {
	width: 30%;
	height: 30%;
	background-color: #666;
	border-radius: 50%;
	margin: 2px auto;
	transition: background 1s;
	position: absolute;
	top: 30%;
	left: 5%;
}
.donationInfo #humans .human .scribble .body {
	position: absolute;
	bottom: 0;
	width: 40%;
	height: 30%;
	background-color: #666;
	border-radius: 50% 50% 0 0;
	margin: 0 auto;
	transition: background 1s;
}

.donationInfo .no_transition {
	transition: none !important;
}

.donationInfo .highlight {
	border: 2px solid #4ae1dc !important;
	font-weight: bold;
}

.donationInfo .highlightText {
	font-weight: bold;
}

.blood_type {
}

@media only screen and (max-width: 400px) {
	.donationInfo #content {
		position: relative;
		margin: 25px auto;
		width: 300px;
		height: 300px;
	}
	.donationInfo #content h3 {
		top: 10px;
		font-size: 1em;
	}
	.donationInfo #content #blood_selector {
		width: 150px;
		height: 75px;
		font-size: 0.75em;
		top: 45px;
	}
	.donationInfo #content .bar {
		top: 40px;
	}
	.donationInfo #content .main_bag {
		width: 75px;
		height: 105px;
		left: 125px;
	}
	.donationInfo #content .main_bag::before {
		top: -108px;
		height: 100px;
	}
	.donationInfo #content .main_bag .blood {
		height: 70%;
	}
	.donationInfo #content #center_via_c .center_via {
		left: 167px;
		top: 240px;
	}
	.donationInfo #content #humans {
		top: 240px;
		width: 180px;
		left: 85px;
	}
}
