* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #181918;
  font-family: "Times New Roman", Times, serif;
}
.container {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    padding:10px ;
    overflow: hidden;
}
.user-list {
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: center;
  color:#F8F8F8 !important;
  width: 400vw;
  animation:move-around 60s linear infinite;
}
.user-list:hover{
    cursor: pointer;
    animation-play-state: paused;
}
.user-list.reverse{
    animation-direction:reverse ;
}
.user-list.no-animation{
    animation:none ;
    width:95vw;
    text-align: center;
    font-size: 50px;
}

.user-list.no-animation .user-item{
  display: grid;
    place-items: center;
    height:120px;
    width: 250px;
} 
.user-list.no-animation .user-item-media{
    display: none;
}
.user-list.wrap{
    flex-wrap: wrap;
    justify-content:center ;
}
.user-item {
  background-color: #303030;
  border-radius: 10px !important;
  transition: all 0.5s ease-in-out;
  width: 25vw;
}
.user-item-card {
  display: flex;
}
.user-item:hover{
transform: scale(1.0.5);
  box-shadow: 2px 2px 10px #ffffff;
}
.user-item-media {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ea748a; */
  border-radius: 10px;
  margin:0px;
}
.user-item-media img {
  width: 84px;
  height: 84px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.media-name p {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.content {
  width: 260px;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content label {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  /* color: #ea748a; */
  display: block;
  text-align: center;
}

/* .content-title {
  color: #76879d;
} */
.media-top{
    width:50px;
    height:50px;
    text-align: center;
    background-color: var(--doubt);
    color:white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    justify-content: center;
    
}
.media-top label{
    text-align: center;
    font-size: 30px;
    
}
.user-item-request{
    text-align: center;
    margin: 15px;
}
.user-item-request .link{
    padding: 5px 10px;
    color:white;
    text-decoration: none;
    margin-left: 10px;
    border:1px solid var(--doubt);
    background: linear-gradient(to right, var(--doubt) 50%, transparent 50%);
    /* background: linear-gradient(134deg, rgba(255, 0, 0, 0.607) 0%, var(--doubt) 99%); */
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.user-item-request .link:hover{
    background-position: left bottom;
}

@keyframes move-around {
    0% {transform: translateX(-100vw);
        -webkit-transform: translateX(-100vw);}
      100% {transform: translateX(100vw);
          -webkit-transform: translateX(100vw);}
    }

@media screen and (max-width: 390px) {
  .user-item-card {
    flex-direction: column;
    border-radius: 10px;
  }
  .user-item-media {
    width: 100%;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
  }
}
