.map-container {
	height: 400px;
}

.popupBox {
	text-align: center;
	padding: 1rem;
	background-color: #ffe6e6;
	color: #e63946;
}

.popupBox img {
	max-width: 150px;
	max-height: 150px;
	border-radius: 50%;
}

.donorMap {
	min-height: 600px;
}
