.intro {
	background: transparent;
	height: 100vh;
	overflow: hidden;
	color: white;
}
.intro-text{
	padding: 5% 10%;
	width: 900px;
	z-index: 10;
}
.intro .intro-text h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 4rem;
	letter-spacing: 5px;
	word-spacing: 0.2px;
	color: var(--doubt);
	text-decoration: none solid rgb(68, 68, 68);
	text-align: center;
}


.intro img {
	z-index: -1;
}


.quote{
	margin: 10px;
	font-size: 30px;
	line-height: 45px;
	font-family: "Salsa";
	word-wrap: wrap;
}

.quote::before{
	content: "“";
	font-size: 50px;
}
.quote::after{
	content: "”";
	font-size: 50px;
}