/* :root{
    --primary:#181918;
    --secondary:#fe0130;
    rgba(223, 64, 90, 1)
} */
body {
	margin: 0;
	/* background: #18191A; */
	--bg-color: #1a1a1a;
	--red-color: #fe0130;
	/* --doubt:rgba(223, 64, 90, 1); */
	--doubt: #b51e23;
	background: var(--bg-color);
}
::-webkit-scrollbar {
    display: none;
}

/* h1,h2,h3,h4,content label{
    color:rgba(223, 64, 90, 1) !important;
} */
