.formControl {
	position: fixed;
	display: block !important;
	width: 100% !important;
	margin-bottom: 1rem !important;
	background-color: white;
	border-radius: 5px;
}

input[value=""]::-webkit-datetime-edit {
	color: transparent;
}
input:focus::-webkit-datetime-edit {
	color: #000;
}
